<!DOCTYPE html>
<html>
<head>
  <title>À propos</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>À propos</h1>
  <p>Ce TP vous permet d'apprendre les bases d'Express.js en créant une application web simple.</p>
</body>
</html>
